<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Panel Administrador')}"></head>
<body>

<div class="hero">
    <h1>Aministracion de muebles</h1>
    <p>Seleccionar accion</p>

    <div class="actions">
        <a href="/admin/muebles" class="btn">Gestion de muebles</a>
        <a href="/admin/cotizaciones" class="btn">Cotizaciones</a>
        <a href="/" class="btn secondary">Volver</a>
    </div>
</div>
</body>
</html>
